header, 
footer {
    background-color: cadetblue;
}

h1 {
    color: brown;
    text-align: center;
    font-weight: 800;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    background-color: aquamarine;
}

p {
    background-color: azure
}

#app-container {
    background-color: blanchedalmond !important;
}

/* div {
    background-color: aquamarine;
} */

/* 
talked about in 1/26 lecture: 

selector {
    property: value;
}

cascading 

margin(border(padding(content)))

Lexture 1/31:
nav bar menu/styling
basic navbar + dropdown menu
responsive navbar (when navbar shows responsive behavior depending on screensize of device)
--> display: block, inline, inline-block
*/